<div>
    <h2>Sasisto {{click}}</h2>
    <app-child [(UserName)] = 'name'></app-child>
    <h1>Your name is {{name}}</h1>
</div><br>
<div>
    <ul class="nav">
        <li [routerLinkActiveOptions] = "{exact:true}" routerLinkActive = "action">
            <a routerLink = "">Main</a>
        </li>
        <li [routerLinkActiveOptions] = "{exact:true}" routerLinkActive = "action">
            <a routerLink = "/about">About</a>
        </li>
        <li  routerLinkActive = "action">
            <a [routerLink] = "['item', '5']">Item 5</a>
        </li>
        <li  routerLinkActive = "action">
            <a [routerLink] = "['item', '8']">Item 8</a>
        </li>
    </ul>
    <h3>Router in Angular</h3>
    <router-outlet></router-outlet>
</div><br>

