.par {
    border: 7px double rgb(187, 57, 57);
    background: rgb(95, 95, 95);
    padding: 10px;
    border-radius: 2vw;
    border-color: hotpink;
    font-size: 2vw;
    color: rgb(0, 225, 255);
    width: 20vw;
}